{% extends 'index.html' %}

<script>
  {% block jquery %}
  var endpoint = '/api/chart/data'
  
  $.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
      var ctx = document.getElementById("myChart").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: data.years,
              datasets: [{
                  label: 'No of Students',
                  data: data.no_of_students,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              reponsive: true,
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });
    },
    error: function(error_data){
      console.log(error_data)
    }
  })
  {% endblock %}

  {% block genderPercentage %}
  var endpoint = 'api/chart/gender_percentage/'
  
  $.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
      var ctx = document.getElementById("genderPercentage").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'pie',
          data: {
              labels: data.genders,
              datasets: [{
                  label: 'Gender Percentages',
                  data: data.gender_percentage,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              reponsive: true,
              scales: {
                  
              }
          }
      });

      var ctx = document.getElementById("genderHeights").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: data.genders,
              datasets: [{
                  label: 'Avg. Gender Heights',
                  data: data.gender_heights,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              reponsive: true,
              scales: {
                  
              }
          }
      });

      var ctx = document.getElementById("genderWeights").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: data.genders,
              datasets: [{
                  label: 'Avg. Gender Weights',
                  data: data.gender_weights,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              reponsive: true,
              scales: {
                  
              }
          }
      });
    },
    error: function(error_data){
      console.log(error_data)
    }
  })
  {% endblock %}


  {% block ailmentRatio %}
  var endpoint = 'api/chart/ailments/'
  
  $.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
      var ctx = document.getElementById("ailmentData").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'pie',
          data: {
              labels: data.ailments,
              datasets: [{
                  label: 'Ailments Ratio',
                  data: data.ailments_percentages,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              reponsive: true,
              scales: {
                  
              }
          }
      });

      var ctx = document.getElementById("maleAilments").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: data.ailments,
              datasets: [{
                  label: 'Male Ailments',
                  data: data.male_ailments,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              reponsive: true,
              scales: {
                  
              }
          }
      });

      var ctx = document.getElementById("femaleAilments").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: data.ailments,
              datasets: [{
                  label: 'Female Ailments',
                  data: data.female_ailments,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              reponsive: true,
              scales: {
                  
              }
          }
      });
    },
    error: function(error_data){
      console.log(error_data)
    }
  })
  {% endblock %}
</script>