{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">RAC Energy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">{{ user.get_username }}<span class="sr-only">(current)</span></a>
      </li>
     
      
    </ul>
    <ul class="navbar-nav ml-auto">
     
      <li class="nav-item align-right">
        <a class="nav-link" href="accounts/logout/">Logout</a>
      </li>
      
    </ul>
    
  </div>
</nav>

<div class="starter-template">
    <h1>Chart</h1>
</div>

<div class="container">
    <div class="row justify-content-center jumbotron"> 
      <h3 class="align-center"> No of Students Born in Corresponding Years</h3>
        <div class="col-sm-8 ">
            <canvas id="myChart" width="250" height="250">
                <script>
                    $(document).ready(function(){
                    {% block jquery %}{% endblock %}
                    })
                </script>
            </canvas>
        </div>
    </div>
    <br>
    <div class="row jumbotron"> 
      <h3 class="col-sm-12 "> Gender Related Statistics</h3>
      <div class="col-sm-4 ">
          <canvas id="genderPercentage" width="250" height="250">
              <script>
                  $(document).ready(function(){
                  {% block genderPercentage %}{% endblock %}
                  })
              </script>
          </canvas>
      </div>
      <div class="col-sm-4 ">
        <canvas id="genderHeights" width="250" height="250">
       
        </canvas>
      </div>
      <div class="col-sm-4 ">
        <canvas id="genderWeights" width="250" height="250">
          
        </canvas>
      </div>
    </div>

    <br>
    <br>
    <div class="row jumbotron"> 
      <div class="col-sm-12 "><h3 class="align-center"> Ailments in Gender</h3></div>
      <div class="col-sm-4 ">
          <canvas id="ailmentData" width="250" height="250">
              <script>
                  $(document).ready(function(){
                  {% block ailmentRatio %}{% endblock %}
                  })
              </script>
          </canvas>
      </div>
      <div class="col-sm-4 ">
        <canvas id="maleAilments" width="250" height="250">
       
        </canvas>
      </div>
      <div class="col-sm-4 ">
        <canvas id="femaleAilments" width="250" height="250">
          
        </canvas>
      </div>
    </div>
</div>
  
</main><!-- /.container -->
{% endblock content %}